<% include ./partials/header %>
<div class="ui container" id="test">
<div class="ui main content-body text container">
        <div id="top-body" class="ui huge header">Welcome <em><%=user.name%></em></div>
        <div class="ui grid stackable two column">
                <div class="column ten wide">
                    <div class="ui header">Recent Reviews</div>
                    <div class="ui segment divided items">
                        <% reviews.forEach(function(review){ %>
                        <div class="item">
                            <div class="content">
                                <div class="header"><%=review.business%></div>
                                <div class="meta"><%=review.stars%> Stars</div>
                                <div class="description"><%=review.text%></div>
                            </div>                            
                        </div>
                        <% }); %>
                    </div>
                </div> 
                <div class="column six wide">
                    <div class="ui header">Recommendations</div>
                    <div class="ui segment divided items">
                        <% suggestions.forEach(function(suggestion){ %>
                        <div class="item">
                            <div class="content">
                                <div class="header"><%=suggestion.name%></div>
                                <div class="meta">Tags: <% suggestion.categories.forEach(function(item){ %>
                                    <%=item%> 
                                    <% }); %>
                                </div>
                                <div class="description">City: <%=suggestion.city%></div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>